.form {
	display: flex;
}

.form input {
	flex: 1;
	padding: 0 0.5rem;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1.25rem;
}

.create-button {
	padding: 0.5rem 1rem;
	margin-left: 0.8rem;
	background: #CC5625;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

.create-button:hover {
	background: #C14A19;
}